{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
<img src="{% static '/images/landing_page.svg' %}" id="landing-image">
</div>
<h1 style="margin-left: 130px;margin-bottom: 50px;display: inline-block;border-bottom: 4px solid #fe9187;">Where we can help?</h1>
<div id="categories">
	<div class="row content">
		<div class="col-6">
			<img src="{% static '/images/doctor.jpg' %}" class="category-images">
		</div>
		<div class="col-6 category-description">
			<h1>Looking for Doctor?</h1>
			<a href="{% url 'search_consultancy_type' 'doctor' %}" class="btn btn-lg btn-outline-success">Click Here</a>
		</div>
	</div>
	<div class="row content">
		<div class="col-6 category-description">
			<h1>Career Planning?</h1>
			<a href="{% url 'search_consultancy_type' 'Career' %}" class="btn btn-lg btn-outline-success">Click Here</a>
		</div>
		<div class="col-6">
			<img src="{% static '/images/career.jpg' %}" class="category-images">
		</div>
	</div>
	<div class="row content">
		<div class="col-6">
			<img src="{% static '/images/lawyer.jpg' %}" class="category-images">
		</div>
		<div class="col-6 category-description">
			<h1>Finding a Lawyer?</h1>
			<a href="{% url 'search_consultancy_type' 'lawyer' %}" class="btn btn-lg btn-outline-success">Click Here</a>
		</div>
	</div>
	<div class="row content">
		<div class="col-6 category-description">
			<h1>Some Educational?</h1>
			<a href="{% url 'search_consultancy_type' 'education' %}" class="btn btn-lg btn-outline-success">Click Here</a>
		</div>
		<div class="col-6">
			<img src="{% static '/images/educational.jpg' %}" class="category-images">
		</div>
	</div>
</div>



{% endblock %}
