<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="mdi mdi-home-outline menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'manage_appointment' %}">
                <i class="mdi mdi-calendar-multiple-check menu-icon"></i>
                <span class="menu-title">Manage Appointment</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false"
               aria-controls="ui-advanced">
                <i class="mdi mdi-human-greeting menu-icon"></i>
                <span class="menu-title">Manage Portfolio</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-advanced">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'add_portfolio' %}">Add Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'view_portfolio' %}">View Portfolio</a></li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_complaints' %}">
                <i class="mdi mdi-comment-multiple-outline menu-icon"></i>
                <span class="menu-title">Post complains</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_feedbacks' %}">
                <i class="mdi mdi-thumb-up-outline menu-icon"></i>
                <span class="menu-title">Post Feedbacks</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_user' %}">
                <i class="mdi mdi-logout ml-1 menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>
