<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="mdi mdi-home-outline menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'approve_consultant' %}">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Manage Consultant</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_consultee' %}">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Manage Consultee</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false"
               aria-controls="ui-advanced">
                <i class="mdi mdi-layers menu-icon"></i>
                <span class="menu-title">Manage Consultancy Type</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-advanced">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'view_consultancy_type' %}">View Consultancy Type</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'add_consultancy_type' %}">Add Consultancy Type</a></li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#editors" aria-expanded="false" aria-controls="editors">
                <i class="mdi mdi-airplane-takeoff menu-icon"></i>
                <span class="menu-title">Manage Country</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="editors">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'add_country' %}">Add Country</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'view_country' %}">View Country</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Manage States</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'add_state' %}">Add States</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'view_state' %}">View States</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="menu-title">Manage City</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'add_city' %}">Add City</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'view_city' %}">View City</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_appointments' %}">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="menu-title">View Appointments</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_complaints' %}">
                <i class="mdi mdi-comment-multiple-outline menu-icon"></i>
                <span class="menu-title">View complains</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_feedbacks' %}">
                <i class="mdi mdi-thumb-up-outline menu-icon"></i>
                <span class="menu-title">View Feedbacks</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_user' %}">
                <i class="mdi mdi-logout ml-1 menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>
