<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Deed UI Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../../static/adminResourses/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResourses/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResourses/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/adminResourses/images/favicon.png"/>
</head>

<body class="sidebar-light">
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->


    {% include 'administration/header.html' %}


    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->


        {% include 'administration/menu.html' %}


        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row grid-margin">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <h4 class="card-title">Add Country</h4>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-lg-3">
                                            <label class="col-form-label">Country Name</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input class="form-control" maxlength="25" name="country-name"
                                                   id="country-name" type="text" value="{{ country.country_name }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-3">
                                            <label class="col-form-label">Country Description</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <textarea class="form-control" maxlength="20" name="country-description"
                                                      id="country-description">{{ country.country_description }}</textarea>
                                        </div>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Update">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            {% include 'administration/footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- base:js -->
<script src="../../static/adminResourses/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResourses/js/off-canvas.js"></script>
<script src="../../static/adminResourses/js/hoverable-collapse.js"></script>
<script src="../../static/adminResourses/js/template.js"></script>
<script src="../../static/adminResourses/js/settings.js"></script>
<script src="../../static/adminResourses/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="../../static/adminResourses/js/jquery.validate.min.js"></script>
<script src="../../static/adminResourses/js/bootstrap-maxlength.min.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="../../static/adminResourses/js/form-validation.js"></script>
<script src="../../static/adminResourses/js/bt-maxLength.js"></script>
<!-- End custom js for this page-->
</body>

</html>
