nav{
	z-index: 2;
}

.bg-light{
	background-color: transparent !important;
}

#landing-image{

	width: 100%;
	margin-top: -270px;
}

.navbar-light{
	color: black;
	font-weight: 600;
}

.errorlist{
	color: red;
	list-style: none;
}

.dropdown-menu[data-bs-popper]{
	right: 0 !important;
	left: unset;
}

.category-images{
	width: 90%;

}

.category-description{
	background-color: #f2f2f2;
	border-radius: 15px;
	padding: 125px 0 0 70px;
	line-height: 65px;
}

.content{
	margin-top: 25px;
}

#categories{
	padding: 0 135px;
}

.messages{
	list-style: none;
    color: red;
    font-weight: 600;
}